/* ------------------------

All rights are reserved.
Made By TouseefDesigns

[Table of contents]

01=>Index Page CSS

01.Default CSS
02.Preloader CSS
03.Top Header CSS
04.Navbar CSS
05.Main Bannner Carousel CSS
06.Contact Info Section CSS
07.About Us Section CSS
08.Service Section CSS
09.Portfolio/Research Section CSS
10.Team Section CSS
11.Stat Section CSS
12.Department Section CSS
13.Blog Section CSS
14.Client Section CSS
15.Appointment Section CSS
16.Partner Section CSS
17.Footer Section CSS
18.ToTop Button CSS

02=>Contact Page CSS

03=>Blog Detail Page CSS

 --------------------------*/

/*===============================
======== 1.Default CSS ==========
=================================*/

:active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0;
  }
section{
    padding-top: 70px;
    padding-bottom: 70px;
}
*{
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
.font-weight-bold {
    font-weight: 500 !important;
}
p{
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.mt-18{
    margin-top: 18px;
}
.mt-20{
    margin-top: 20px;
}
.mt-21{
    margin-top: 21px;
}
:root{
    --black: #000000;
    --dark-blue: #083669;
    --white: #ffffff;
    --bg-light: #f2f2f2;
    --orange: #fd4f01;
  }
.mr-20 {
    margin-right: 20px !important;
}
.btn {
    position: relative;
  }
  .form-control{
    font-style: italic !important;
}
.form-control:focus{
    background-color: transparent;
    color: white;
    border: none;
    box-shadow: none;
}
.w-80{
    width: 150px !important;
    margin-top: 5px;
}
.rounded{
    transition: all 0.5s ease;
    border-radius: 10px 10px 0 0 !important;
}
.section-title h5 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.5px;
    color: #9dabaf;
    margin-top: 5px;
    margin-bottom: 5px;
}
.section-title h2.title {
    font-weight: 600;
    font-size: 35px;
    color: #0e204d;
    line-height: 50px;
}
h4{
    font-weight: 600 !important;
}
img {
    height: auto;
    width: 100%;
  }

/*===============================
========= 2.Preloader CSS =======
=================================*/

.centered{
    width: 100%;
    height: 100%;
	position:fixed;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	background:#fff;
    z-index: 999999;
}
.blob-1,.blob-2{
	width:70px;
	height:70px;
	position:absolute;
	background:#283b6a;
	border-radius:50%;
	top:50%;left:50%;
	transform:translate(-50%,-50%);
}
.blob-1{
	left:20%;
	animation:osc-l 2.5s ease infinite;
}
.blob-2{
	left:80%;
	animation:osc-r 2.5s ease infinite;
	background:#0ff;
}
@keyframes osc-l{
	0%{left:20%;}
	50%{left:50%;}
	100%{left:20%;}
}
@keyframes osc-r{
	0%{left:80%;}
	50%{left:50%;}
	100%{left:80%;}
}

/*===============================
======== 3.Top Header CSS =======
=================================*/

.list{
    /* z-index: 150; */
    width: 310px;
    padding: 40px !important;
    border-radius: 0 0 6px 6px;
    background-color: #ffffff;
    box-shadow: 0px 5px 83px 0px rgb(9 29 62 / 15%);
}
.em-button-style{
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 10px 10px 0 0;
    color: #213360;
    background-color: #ffffff;
}
.top-header{
    background-color: #283b6a;
}
.top-header-info-text{
    font-size: 13px;
}
.nice-select{
    border-radius: 0;
    line-height: 34px;
    font-weight: 500;
    padding-left: 0px;
    padding-right: 25px;
}
.emergency-btn{
    color: #283b6a;
    background: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 10px;
}
.emergency-btn p{
    margin: 0;
    padding: 10px 0 10px 10px;
}
.phone_style{
    font-size: 60px;
    line-height: 1;
    color: #21cdc0;
    margin-bottom: 20px;
    transform: rotate(310deg);
}
.phone_number{
    margin-bottom: 20px;
    font-size: 23px;
    line-height: 1;
}
.phone_number a{
    color: #3851a2 !important;
    text-decoration: none;
}
.phone_number a:hover{
    color: #21cdc0 !important;
}
.text-style{
    line-height: 1.75;
    margin-bottom: 15px;
}
.btn_secondary-color{
color: #213360;
font-weight: 700;
}
.appointment-btn a:hover{
    color: #21cdc0;
    transition: all ease 1s;
}
.top-header-icons-style{
    color: #21cdc0;
    font-size: 18px;
}
.top-header-contact-info .top-header-location a{
    text-decoration: none;
}
.top-header-social-links a {
    color: #213360;
    background-color: #21cdc0;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 32px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
    transition: all 0.4s linear;
}
.top-header-social-links a:hover{
background-color: white;
}
.top-header-searchbar input{
    position: relative;
    height: 30px;
    border: 0;
    border-radius: 0;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.15);
}
.top-header-searchbar .form-control:focus{
    border: transparent;
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.top-header-searchbar .form-control:active{
    border: transparent;
    background-color: transparent;
    color: rgb(255, 255, 255);
}
input:-internal-autofill-selected{
    background: transparent;
    background-image: none;
}
.top-header-search-btn{
    color: #ffffff;
    background: transparent;
    border: none;
}

/*===============================
========== 4.Navbar CSS =========
=================================*/

.sticky{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    background: rgba(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.navbar-brand{
    width: 150px;
}
.navbar li a{
    padding: 10px 15px;
    font-size: 15px;
}
.nav-link{
    color: #283b6a!important;
}
.sticky .nav-link{
    color: #283b6a!important;
}
.nav-item a:hover{
    color: #21cdc0!important;
}
.nav-link.active{
    color: #21cdc0!important;
}
.header-main ul li{
    position: relative;
}
.header-main ul.nav ul {
    position: absolute;
    left: 0;
    top: -2000px;
    opacity: 0;
    visibility: hidden;
    background-color: #fff;
    width: 200px;
    transform: translate3d(0,-5px,0);
    transition: transform .3s ease-out;
    z-index: 9;
    border-radius: 0 0 5px 5px;
    padding: 0;
    box-shadow: 0 5px 30px rgb(0 0 0 / 16%);
}
.header-main ul li:hover > ul {
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: translate3d(0,0,0);
    background-color: #ffffff;
}
.header-main ul.nav ul li {
    padding: 8px 20px;
    list-style: none;
}
.header-main ul.nav ul li a {
    display: block;
    color: #283b6a;
    text-decoration: none;
}
.header-main ul.nav ul li a:hover{
    color: #21cdc0!important;
}
.navbar-nav .nav-link {
    padding-right: 16px;
    padding-left: 16px;
}

/*===============================
== 5.Main Bannner Carousel CSS ==
=================================*/

.main-banner-img1{
    background-image: url(../images/slider-1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}
.main-banner-img2{
    background-image: url(../images/slider-2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}
.main-banner-txt{
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    width: 100%;
}
.main-textbox{
    width: 60%;
}
.main-banner-txt h2{
    color: #0e204d;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 25px;
}
.main-banner-txt p{
    color: #283b6a;
    font-size: 15px;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 2;
}
.btn {
    position: relative;
  }
.main-banner-img1 .main-banner-txt .main-textbox .btn__link.btn__secondary {
    transition: all 0.4s linear;
    font-size: 15px;
    color: #ffffff;
    border-radius: 50px;
    font-weight: 600;
    line-height: 40px;
    background-color: #213360;
    border: 0;
}
.main-banner-img1 .main-banner-txt .main-textbox .btn__link.btn__secondary::before {
    transition: all 0.3s linear;
    background-color: #21cdc0;
    border-radius: 50px;
    position: absolute;
    content: "";
}
.btn_wrpper{
    display: inline-block;
}
.btn_primary {
    color: #fff !important;
    background-color: #21cdc0;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    padding: 18px;
    transition: all 0.4s linear;
    position: relative;
    border: none;
    z-index: 10;
}
.btn_primary::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 58px;
    border-radius: 50px;
    opacity: 0;
    background-color: #0e204d;
    transition: all 0.5s ease;
    visibility: hidden;
    z-index: -1;
}
.btn_wrpper:hover .btn_primary::after{
    width: 100%;
    opacity: 1;
    visibility: visible;
}

/*===============================
=== 6.Contact Info Section CSS ==
=================================*/

.btn_primary_2 {
    color: #ffffff;
    background-color: transparent;
    border: 1px white solid;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 600;
    padding: 14px;
    transition: all 0.4s linear;
}
.btn_primary_2:hover {
    color: #213360;
    background-color: white;
}
.contact-info {
    position: relative;
    z-index: 3;
    margin-top: -100px;
    color: white;
}
.contact-box{
    align-items: center;
    flex-direction: column;
}
.contact_title{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.contact-content-btn{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact-info .contact-box-1 {
    background-color: #21cdc0;
    height: 100%;
    padding: 45px; 
    border-radius: 10px 0 0 10px;
}
.contact-info .contact-box-2 {
    background-color: #3851a2;
    height: 100%;
    padding: 45px;
}
.contact-info .contact-box-3 {
    background-color: #153992;
    height: 100%;
    padding: 45px;
    border-radius: 0px 10px 10px 0;
}
.phone_number-2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.phone_number-2 a{
    text-decoration: none;
    color: white;
}
.contact-info .contact_icon {
    font-size: 50px;
    flex: 0 0 80px;
}
.contact-info .contact_content .contact_title {
    font-size: 19px;
}
.contact-info .contact_content .contact_desc {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 15px;
}
.time_list li {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dcdee2;
}

/*===============================
===== 7.About Us Section CSS ====
=================================*/

.about-us-img{
    border-radius: 10px;
}
.intro-feature-text{
    margin-bottom: 15px;
    font-weight: 600;
    color: #0e204d;
}
.intro-arrow-style{
    color: #21cdc0;
}
.intro-list-text{
    font-size: 12px;
    line-height: 27px;
    margin-bottom: 30px;
}
.btn-intro-list {
    color: #ffffff;
    background-color: #21cdc0;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    padding: 18px 35px;
    transition: all 0.4s linear;

}
.btn-intro-list:hover {
    color: #ffffff;
    background-color: #213360;
}


/*===============================
===== 8.Services Section CSS ====
=================================*/

.service-section{
    background-color: #fff;
}
.service-text{
    color: rgba(255,255,255,.75)!important;
}
.service-text p{
    font-size: 14px;
    line-height: 1.8;
}
.service-btn-style{
    display: flex;
    align-items: center; 
    justify-content: flex-end;
}
@media only screen and (max-width: 992px){
.service-btn-style{
    display: flex;
    justify-content: flex-start;
}
}
.btn_services{
    font-size: 15px;
    font-weight: 700;
    padding: 18px;
    transition: all 0.5s linear;
    position: relative;
    border: none;
    z-index: 10;
    color: #ffffff;
    background-color: transparent;
    border: 1px white solid;
    border-radius: 50px;
}
.btn_services:hover {
    color: #213360;
    background-color: white;
}
.service-btn-blue{
    color: #0e204d;
    border: 1px #0e204d solid !important;
    font-size: 15px;
    font-weight: 700;
    padding: 18px;
    transition: all 0.4s linear;
    position: relative;
    border: none;
    z-index: 10;
    background-color: transparent;
    border-radius: 50px;
}
.service-btn-blue:hover {
    color: white;
    background-color: #21cdc0;
    border: white !important;
}
.text-blue{
    color: #213360;
}
.services-icon-box {
    padding: 40px 35px 30px 30px;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease;
}
.services-icon-box:hover{
    box-shadow: 0 0 14px 0 #e5e5e55e;
    border-radius: 10px;
}
.services-icon-box:hover .service-icon-main{
    font-size: 65px;
}
.services-icon-box a{
    transition: all 0.5s ease;
}
.services-icon-box:hover a{
    letter-spacing: 1px;
}

.service-icon{
    font-size: 60px;
    color: #21cdc0 ;
}
.service-icon-main{
    transition: all 0.5s ease;
}
.service-a{
    color: #213360 !important;
    font-size: 12px;
    font-weight: 600;
}

/*===============================
9.Portfolio/Research Section CSS=
=================================*/


.filter-button{
    font-size: 15px;
    text-align: center;
    color: #fff;
    margin-bottom: 12px;   
}
.filter-button:focus{
outline: none!important;
box-shadow: none;
}
.filter-button.active,.filter-button:hover{
    color: #21cdc0 ;
}
.btn-default:active .filter-button:active{
    color: #21cdc0 ;
}
.center-txt {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.portfolio-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-image: -webkit-linear-gradient(90deg,rgba( 18,180,139)0%,rgba(0,0,0,.5) 70%);
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: 0.5s;
}
.portfolio-overlay .center-txt h6{
    cursor: pointer;
    transition: all 0.5s ease;
}
.portfolio-overlay .center-txt p{
    cursor: pointer;
}
.portfolio-overlay .center-txt h6:hover{
color: #21cdc0;
}
.portfolio-overlay:hover{
    opacity: 1;
}
.research{
    background-color: #1d2a4d;
}
.research-title{
    font-weight: 600;
    font-size: 35px;
    color: #21cdc0;
    line-height: 50px;
}
.research .gallery_product .img .rounded{
    transition: all 0.5s ease;
    border-radius: 10px !important;
}
.img{
    transition: all 0.5s ease;  
}
.img:hover{
    transform: scale(1.05,1.05);
}
.btn_wrapper{
    position: relative;

}
.btn_wrapper::after{
    position: absolute;
    content:"";
    top: 40%;
    left: -5px;
    height: 8px;
    width: 8px;
    background-color: #21cdc0;
    border-radius: 50px;
}
.filter-button::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 10px;
    height: 3px;
    background-color: #21cdc0;
    width: 0%;
    border-radius: 50px;
    opacity: 0;
    transition: all 0.5s ease;
}

.btn_wrapper:hover .filter-button::after{
    opacity: 1;
    width: 80%;
}
.btn_wrapper:active .filter-button::after{
    opacity: 1;
    width: 80%;
}
.btn_wrapper:visited .filter-button::after{
    opacity: 1;
    width: 80%;
}
@media only screen and (max-width:992px){
    .portfolio-menu{
        display: flex;
        justify-content: center;
    }
    .btn_wrapper::after {
        display: none;
    }
    .filter-button::after{
        left: 10px;       
    }
    .btn_wrapper:hover .filter-button::after{
        opacity: 1;
        width: 80%;
    }
}
@media only screen and (max-width:576px){
    .btn_wrapper{
        margin: -8px;
    }
    .btn-wrapper-3{
        display: none;
    }
    .filter-button {
        font-size: 12px;
    }
    .filter-button::after{
        height: 2px;
    }
 }
 @media only screen and (max-width:392px){
    .filter-button {
        font-size: 10px;
    }
 }

/*===============================
====== 10.Team Section CSS ======
=================================*/

.team-section{
    background-color: #21cdc0;
}
.item .team-img{
    overflow: hidden;
    border-radius: 10px 10px 0 0 !important;
}
.item .member__info {
    padding: 15px 15px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    margin-top: -15px;
  }
  .item .member__info a {
text-decoration: none;    
  }  
  .item .member__info .member__name {
    font-size: 21px;
    margin: 11px 0;
  }
  .item .member__info .member__name a {
    color: #0e204d;
  }
  .item .member__info .member__job {
    color: #21cdc0;
    margin-bottom: 10px;
  }
  .item .member__info .member__desc {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .team-section .item:hover{
    box-shadow: 0px 5px 83px 0px rgba(9, 29, 62, 0.15);
  }
  .item .social-icons li {
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }
  .item .social-icons li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
  }
  .item .social-icons li a:hover {
    color: #ffffff!important;
    background-color: #21cdc0 !important ;
  }
  .item .social-icons li a.facebook {
    margin: 5px;
    color: #ffffff;
    background-color: #21cdc0;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 32px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    transition: all 0.4s linear;
  }
  .item .social-icons li a.twitter {
    margin: 5px;
    color: #ffffff;
    background-color: #21cdc0;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 32px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    transition: all 0.4s linear;
  }
  .item .social-icons li a.phone {
    margin: 5px;
    color: #ffffff;
    background-color: #21cdc0;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 32px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    transition: all 0.4s linear;
  }
  .item .btn__link.btn__secondary {
    padding: 12px 0;
    opacity: 1;
    transition: all 0.3s linear;
    font-size: 15px;
    color: #ffffff;
    opacity: 1;
    border-radius: 50px;
    padding: 8px;
    background-color: #21cdc0;
  }
  .item .btn__link.btn__secondary:hover {
    color: #ffffff !important;
    background-color: #21cdc0 !important;
  }
  .item .btn__link.btn__secondary .team-arrow  {
    font-size: 12px;
    font-weight: normal;
  }  
  .team-section-box:hover .btn__link.btn__secondary, .team-section-box:hover .social-icons li a {
    color: #ffffff;
    background-color: #0e204d ;
  }
  .team-section-box:hover .member__info .member__name a {
    color: #21cdc0;
  }
  .team-section-box:hover .member__info .member__job {
    color: #0e204d;
    font-weight: 600;
  }
.team-section-box{
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
}
.rounded{
    transition: all 0.5s ease;
    border-radius: 10px 10px 0 0 !important;
}
  .team-section-box:hover .rounded{
    transform: scale(1.1) rotate(1deg);
}

/*===============================
======= 11.Stat Section CSS =====
=================================*/

#stat{
    background-image: url(../images/slider-2.webp);
    height: 50%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-attachment: fixed;

}
.stat-overlay{
    overflow: hidden;
}
.stat-overlay::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    /* background-color: rgb(29 42 77 / 70%); */
    background-color: #21cdc080;
    opacity: 1;
    width: 100%;
    height: 100%;
} 
#stat  h2{
    font-size: 30px!important;
    margin-bottom: 10px;
}
#stat  h4{
    font-size: 18px!important;
    margin-bottom: 5px;
    color: #1d2a4d;
}
.stat-icon-style{
    color: #1d2a4d;
}

/*===============================
=== 12.Department Section CSS ===
=================================*/
.department-section{
    background-color: #1d2a4d;
}
.service-item {
    box-shadow: 0 0 4px 0 #ccc;
    border-radius: 10px;
    padding: 50px 20px;
    margin-bottom: 30px;
    transition: all 0.4s linear;
    color: white;
}
.service-item:hover{
    background-color: white;
    color: #1d2a4d;
transform: scale(1.05);
}
.service-item .d-flex .neu {
    color: #21cdc0!important;
    font-size: 40px;
    padding: 0 0 5px;
}
.service-item .btn__link.btn__secondary {
    padding: 12px 0;
    transition: all 0.3s linear;
    font-size: 15px;
    color: #ffffff !important;
    border-radius: 50px;
    padding: 8px;
    border: 1px solid white;
  }
  .service-item .btn__link.btn__secondary .team-arrow  {
    font-size: 12px;
    font-weight: normal;
  }  
  .service-item:hover .btn__link.btn__secondary {
    color: #ffffff !important;
    background-color: #21cdc0 !important;
  }
 
/*===============================
====== 13.Blog Section CSS ======
=================================*/
.blog-section{
    background-color: #21cdc0;
}  
.post-item:hover {
    box-shadow: 0px 5px 83px 0px rgba(9, 29, 62, 0.15);
 }
 .post-item:hover .post__img img {
   transform: scale(1.1) rotate(1deg);
 }
.post-item {
    background-color: white;
    position: relative;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all 0.3s linear;
  } 
  .post-item .post__img {
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }
  .post-item .post__img img {
    transition: all 0.5s ease;
  }
  .post-item .post__body {
    position: relative;
    z-index: 3;
    padding: 0 30px 30px 37px;
    margin-top: -15px;
  }
  .post-item .post__meta-cat {
    padding: 4px 13px;
    display: inline-block;
    border-radius: 0 10px 0px 10px;
    background-color: #21cdc0 !important;
    margin-bottom: 15px;
    transition: all 0.5s linear;
  }
  .post-item .post__meta-cat a {
    position: relative;
    color: #ffffff;
    padding-right: 7px;
    font-size: 13px;
    transition: all 0.3s ease;
  }
  .post-item .post__meta-cat:hover {
    background-color: #283b6a !important;
  } 
  .post-item .post__meta-cat a:hover {
    color: #21cdc0;
  } 
  .post-item .post__meta-cat a:after {
    content: ",";
    position: absolute;
    top: -1px;
    right: 1px;
    color: #ffffff;
  } 
  .post-item .post__meta-cat a:last-child {
    padding-right: 0;
  }
  .post-item .post__meta-cat a:last-child:after {
    display: none;
  }
  .post-item .post__meta {
    margin-bottom: 15px;
  }
  .post-item .post__meta > * {
    position: relative;
    font-size: 13px;
    color: #435ba1;
    line-height: 1;
    margin-right: 15px;
    padding-right: 15px;
  }
  .post-item .post__meta > *:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #dedfe3;
  }
  .post-item .post__meta > *:last-child {
    padding-right: 0;
    margin-right: 0;
  }
  .post-item .post__meta > *:last-child:after {
    display: none;
  }
  .post-item .post__title {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .post-item .post__title a {
    color: #0e204d;
    transition: all 0.5s ease;
  }
  .post-item .post__title a:hover {
    color: #21cdc0;
  }
  .post-item .btn__link.btn__secondary {
    transition: all 0.4s linear;
    font-size: 15px;
    color: #ffffff;
    border-radius: 50px;
    padding: 8px;
    margin-top: 15px;
    background-color: #21cdc0;
  }
  .post-item .btn__link.btn__secondary:hover {
    color: #ffffff !important;
    background-color: #21cdc0 !important;
  }
  .post-item:hover .btn__link.btn__secondary {
    color: #ffffff;
    background-color: #213360;
  }

/*===============================
====== 14.Client Section CSS ====
=================================*/
#client{
    background-image: url(../images/client-bg.webp);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
    color: white;
}
.testi-overlay::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(29 42 77 / 75%);
}
.testi-img{
    width: 100px !important;
    margin: 0 auto;
}    
.testi-box{
    padding: 50px 30px 30px;
    background-color: #21cdc0;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.testi-box p{
    font-size: 14px;
}
.testi-box .client-h6{
    color: #213360;
}
.testi-box .client-p{
    font-size: 12px;
}
.testi-qoute{
    font-size: 20px;
}

/*===============================
=== 15.Appointment Section CSS ==
=================================*/
.appointment-section{
    background-color: #21cdc0;
}
  .contact-panel {
    position: relative;
    z-index: 2;
    padding: 40px;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0px 5px 83px 0px rgb(9 29 62 / 10%);
}
.contact-panel__title {
    font-size: 24px;
    color: #0e204d;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 20px;
}
.contact-panel__desc {
    font-size: 15px;
    line-height: 25px;
    color: #848e9f;

}
.mb-30 {
    margin-bottom: 30px !important;
}
.form-group-icon {
    position: absolute;
    top: 23px;
    left: 23px;
    z-index: 2;
    color: #d7d8da;
    pointer-events: none;
}
 .form-group .nice-select.form-control {
    width: 100%;
    height: 60px;
    line-height: 57px;
    border-radius: 60px;
    margin-bottom: 30px;
    color: #495057;
    text-align: left !important;
}
.form-group .nice-select.form-control .list{
    padding: 0 !important;
    width: 185px !important;
}
.nice-select.form-control:before {
    content: '';
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 12px;
    top: 50%;
    width: 20px;
    height: 20px;
    z-index: 1;
    border-radius: 50%;
    background-color: #213360;
}
.nice-select.form-control:after {
    right: 20px;
    z-index: 2;
    border-color: #ffffff;
}
.heading-light .heading__title, .heading-light .heading__desc {
    color: #ffffff;
}
.heading__title {
    font-size: 37px;
}
.heading__desc {
    font-size: 16px;
    line-height: 1.75;
}
.appointment-section .btn__rounded {
    border-radius: 50px;
}
.appointment-section .btn__white {
    background-color: #ffffff;
    color: #213360;
    font-size: 15px;
    font-weight: 700;
    min-width: 170px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 0;
    transition: all 0.4s linear;
}
.appointment-section .btn__white:hover{
    color: #ffffff;
    background-color: #213360;
} 
.video__btn {
    text-align: center;
    display: inline-flex;
    position: relative;
    padding-left: 90px;
    height: 60px;
    align-items: center;
}
.video__btn-white .video__player {
    background-color: #ffffff !important;
    color: #0e204d;
}
.video__btn .video__player {
    position: absolute;
    margin: 0 0 0 25px;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 7px rgb(0 0 0 / 15%);
    transition: all 0.4s linear;
}
.video__btn:hover {
text-decoration: none;
}
.video__btn:hover .video__player {
    box-shadow: 0 0 0 10px rgb(0 0 0 / 15%);
}
.video__btn .video__btn-title {
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    margin-left: 12px;
}
.contact-layout3 .text__block {
    margin-top: 50px;
    padding-top: 45px;
    border-top: 2px solid rgba(231, 235, 239, 0.3);
  }
  .contact-layout3 .text__block .text__block-desc {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.75
  }

/*===============================
===== 16.Partner Section CSS ====
=================================*/

.partner-section {
    padding: 90px 0px 85px 0px;
    position: relative;
  }
  .partner-section img {
    height: auto;
    display: block;
  }
  .partner-section .partner-logo .item{
      position: relative;
  }
  .partner-section .partner-logo .partner-right-line::after {
    border-right: 2px solid rgb(32 64 102 / 50%);
    border-radius: 49%;
    content: "";
    top: 0;
    height: 100%;
    position: absolute;
    right: -15px;
}
  @media only screen and (max-width: 767px) {
    .icon-box-item {
      margin-top: 50px;
    }
  }
   
/*===============================
===== 17.Footer Section CSS =====
=================================*/

.time_list li {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dcdee2;
}
.time_list_2 li {
    font-size: 14px;
    display: flex;
}
.footer-top{
    background-color: #1d2a4d;
    color: white;
    padding: 62px 0 0;
}
.style-line {
    border-top: 3px solid #21cdc0;
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}
.newsteller{
    background-color: #204066;
    padding: 20px 15px;
    margin-top: 40px;
}
.newsteller-text{
    font-size: 18px;
}
.newsteller-inputbox {
    display: flex;
}
.newsteller-inputbox input[type="email"] {
    padding: 12px 24px; 
    border: none;
    padding-right: 150px;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}
.newsteller-inputbox input[type="email"]:focus {
    border: none;
    border: 1px solid transparent;
}
.newsteller-inputbox input[type="email"]:focus-visible {
    border: none;
    border: 1px solid transparent;
}
.newsteller-inputbox button[type="submit"] {
    background-color: #12b48b;
    color:white;
    border: none;
    position: absolute;
    right: 12px;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 17px 7px;
    height: 45px;
    border-radius: 0 2em 2em 0;
    transition: all 0.35s ease;
}
.newsteller-inputbox button[type="submit"]:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: #204066;
}
.copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    text-transform: capitalize;
}
.footer-bottom .copyright a{
    color: #fff;
}
.footer-bottom .copyright a:hover{
    color: #21cdc0;
}

/*===============================
====== 18.ToTop Button CSS ======
=================================*/
#back-top {
    display: inline-block;
    background: none;
    margin: 0;
    position: fixed;
    z-index: 100;
    text-decoration: none;
    color: #ffffff;
    background-color: #21cdc0;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    font-weight: 900;
    font-size: 15px;
    padding: 4px 11px;
    height: 30px;
    width: 30px;
    bottom: 10px;
    right: 14px;
  }
  #back-topi {
    font-size: 15px;
  }
   #back-top.is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
  }
  #back-top:hover {
    opacity: 1;
transform: translateY(-10px); 
 }

/*===============================
====== Contact Page CSS ======
=================================*/

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    background-color: white !important;
    box-shadow: 0 0 0 50px white inset;
}
#appointment-stat{
    background-image: url(../images/appointment-img.webp);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #21cdc0;
    background-attachment: fixed;
}
.page-title-heading h2 {
    font-weight: 600;
    text-transform: capitalize;
     font-size: 40px;
}
.form-group {
    position: relative;
    margin-bottom: 30px;
}
.form-group-icon {
    position: absolute;
    top: 23px;
    left: 23px;
    z-index: 2;
    color: #d7d8da;
    pointer-events: none;
}
.form-group-icon + .form-control, .form-group-icon + select + .form-control {
    padding-left: 45px;
}
.form-control {
    font-size: 14px;
    height: 60px;
    padding: 0 20px;
    border-radius: 55px;
    background-color: #ffffff;
    border: 2px solid #e6e8eb;
    font-style: normal !important;
}
.form-group .form-control::placeholder{
    color: #204066;
}
.form-control:focus {
    border: 2px solid #21cdc0;
    background-color: #ffffff;
    color: black;
}
textarea.form-control {
    min-height: 120px;
    padding-top: 16px;
    border-radius: 20px;

}
.btn__block {
    width: 100%;
}
.contact-panel .btn__link.btn__secondary {
    transition: all 0.4s linear;
    font-size: 15px;
    color: #ffffff;
    border-radius: 50px;
    font-weight: 600;
    height: 60px;
    line-height: 50px;
    background-color: #213360;
    border: 0;
}
.contact-panel .btn__link.btn__secondary::before {
    transition: all 0.3s linear;
    background-color: #21cdc0;
    position: absolute;
    content: "";
}
.btn.hover-slide-right::before {
    top: 0; bottom: 0; left: 0; 
    height: 100%; width: 0%;
    border-radius: 50px;
    position: absolute;
    content: "";
  }
  .btn.hover-slide-right:hover::before {
    width: 100%;
    border-radius: 50px;
    position: absolute;
    content: "";
  }
  .form-control {
    font-size: 14px;
    height: 60px;
    padding: 0 20px;
    border-radius: 55px;
    background-color: #ffffff;
    border: 2px solid #e6e8eb;
}
.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 0;
    margin-top: 10px;
    list-style: none;
    background-color: transparent;
    border-radius: none;
    justify-content: center;
    align-items: center;
}
.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: 0.5rem;
    color: #ffffff;
    content: ">";
}
.breadcrumb-item.active {
    color: #213360;
}
.breadcrumb-item-a{
    color: #ffffff;
}
.breadcrumb-item-a:hover{
    color: #213360;
}
.pagination li {
    margin-right: 10px;
}
.pagination li a:hover, .pagination li a.current {
    color: #ffffff;
    border-color: #ffffff00;
    background-color: #213360;
}
.pagination li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    color: #213360;
    border: 2px solid #e6e8eb;
    background-color: #ffffff;
    transition: all 0.3s linear;
}

/*===============================
====== Blog Detail Page CSS ======
=================================*/

.read_more_area .post__meta-cat {
    padding: 4px 13px;
    display: inline-block;
    border-radius: 0 10px 0px 10px;
    background-color: #21cdc0 !important;
    margin-bottom: 15px;
    transition: all 0.5s linear;
}
.read_more_area .post__meta-cat a {
    position: relative;
    color: #ffffff;
    padding-right: 7px;
    font-size: 13px;
    transition: all 0.3s ease;
}
.read_more_area .post__meta-cat a:after {
    content: ",";
    position: absolute;
    top: -1px;
    right: 1px;
    color: #ffffff;
}
.read_more_area .post__meta-cat a:last-child {
    padding-right: 0;
  }
  .read_more_area .post__meta-cat a:last-child:after {
    display: none;
  }
.read_more_area .post__meta-cat:hover {
    background-color: #283b6a !important;
}
.read_more_area .post__meta-cat a:hover {
    color: #21cdc0;
}
   .read_more_img{
    width: 100%;
  }
  .read_more_img img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .read_more_area{
    padding: 20px;
   box-shadow: 2px 2px 5px 2px #867dff38;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   margin-top: -35px;
  }
  @media only screen and (max-width: 767px) {
    .read_more_area {
      margin-bottom: 50px;
    }
  }
  .read_more_area .post__meta > * {
    position: relative;
    font-size: 13px;
    color: #435ba1;
    line-height: 1;
    margin-right: 15px;
    padding-right: 15px;
}
.read_more_area .post__meta > *:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #dedfe3;
}
.read_more_area .post__meta > *:last-child {
    padding-right: 0;
    margin-right: 0;
  }
  .read_more_area .post__meta > *:last-child:after {
    display: none;
  }
  .read_more_text h3 {
    border-top: 1px solid;
    color: #0e204d;
    padding-top: 4%;
    font-size: 20px;
    border-color: #cfd2d5;
}
.last-p{
    border-bottom: 1px solid;
    border-color: #cfd2d5;

}
.blockquote{
   margin-top: 3%;
   margin-bottom: 3%;
   margin-left: 5%;
   padding: 2% 4%;
   border-left: 4px solid #21cdc0;
   border-radius: 5px;
  }
.color-heading {
    color: #0e204d !important;
    font-size: 14px; font-weight: 600;
}
.social-icons li {
    margin-right: 10px;
}
.blog-share .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: #ffffff;
}
.social-icons li a {
    position: relative;
    z-index: 2;
    display: block;
    width: 23px;
    height: 23px;
    line-height: 23px;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    background-color: #213360;
    transition: all 0.4s linear;
}
.blog-share .social-icons a:hover {
    background-color: #21cdc0;
}
.widget-tags ul li a {
    display: block;
    font-size: 14px;
    line-height: 1;
    text-transform: capitalize;
    padding: 6px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 50px;
    border: 1px solid #e6e8eb;
    color: #21cdc0;
    background-color: #ffffff;
    transition: all 0.4s ease;
}
.widget-tags ul li a:hover {
    color: #ffffff;
    border-color: #21cdc0;
    background-color: #21cdc0;
}
.comment-h3{
        color: #0e204d !important;
        font-size: 20px;
}
.comments-list .comment__item:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.comments-list .comment__item {
    position: relative;
} 
.comments-list .comment__item .comment__avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 4px;
}
.comments-list .comment__item .comment__avatar img {
    border-radius: 50%;
}
.comments-list .comment__item .comment__content {
    padding-left: 90px;
}
.comments-list .comment__item .comment__content .comment__author {
    font-size: 15px;
    margin-bottom: 11px;
}
.comments-list .comment__item .comment__content .comment__date {
    font-size: 12px;
    line-height: 1;
    display: block;
    margin-bottom: 10px;
}
.comments-list .comment__item .comment__content .comment__reply {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #21cdc0;
}
.comments-list .comment__item .comment__content .comment__reply:hover {
    color: #213360;
}
.comments-list .comment__item .nested__comment {
    border-top: 1px solid #eaeaea;
    padding: 30px 0 0 0;
    margin: 30px 0 0 90px;
}
.comment_form h4{
    color: #0e204d !important;
    font-size: 20px;
  }
.comment_form h4{
    color: #0e204d !important;
    font-size: 20px;
  }
  .btn-common {
    background-color: #21cdc0;
    position: relative;
    z-index: 1;
    border-radius: 50px;
    color: var(--white) !important;
    transition: 0.4s all ease;
    padding: 10px;
}
.btn-common:hover {
    background-color: #0e204d;
}
.widget {
    position: relative;
    padding: 40px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 40px;
    background-color: #def8f6;
}
.widget .widget__title {
    font-size: 19px;
    margin-bottom: 23px;
    color: #0e204d;
}
.widget-search .widget__form-search {
    position: relative;
}
.widget-search .widget__form-search .form-control {
    height: 55px;
}
.widget-search .widget__form-search .btn {
    position: absolute;
    top: 0;
    right: 20px;
    width: auto;
    color: #21cdc0;
    padding: 0;
    min-width: 0;
    height: 55px;
    line-height: 55px;
}
.widget:after {
    content: '';
    position: absolute;
    top: 40px;
    bottom: 40px;
    left: 0;
    width: 3px;
    background-color: #21cdc0;
}
.widget-categories ul li {
    margin-bottom: 11px;
}
.widget-categories ul li a {
    position: relative;
    display: flex;
    align-items: center;
    color: #213360;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.3s linear;
}
.widget-categories ul li a:hover {
    color: #21cdc0;
}
.widget-categories ul li a .cat-count {
    font-size: 13px;
    font-weight: 600;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border-radius: 50%;
    text-align: center;
    margin-right: 15px;
    border: 1px solid #e6e8eb;
    color: #21cdc0;
    background-color: #ffffff;
}
.widget-post__title {
    font-size: 15px;
    margin-bottom: 0;
    
}
.widget-post__title a{
    color: #213360;
    transition: all 0.4s ease;
}
.widget-post__title a:hover{
    color: #21cdc0;
}
.widget-tags ul {
    display: flex;
    flex-wrap: wrap;
}
  .blockquote p{
   margin-bottom: 0%;
  }
  .total_comments a{
   text-decoration: none;
   color: #6c757d;
  }
  .comment_form .form-control{
   margin-top: 2%;
  }
  .comment_form .high{
   height: 55px;
  }
  .popular_posts_linkdate{
   font-size: 80%;
  }
  .popular_posts img{
    border-radius: 5px;
    width: 30%;
  }
  .popular_posts_linkdate a, .popular_posts_linkdate span{
   color:#213360;
  }

