@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* ----------------------
[Table of contents]
 
01.Default CSS
02.Navbar CSS
03.Main Bannner Carousel CSS
04.About Section CSS
05.Services Section CSS
06.Portfolio Section CSS
07.Team Section CSS
08.Stat Section CSS
09.Pricing Section CSS
10.Testimonial Section CSS
11.Contact Section CSS
12.Footer Section CSS

 --------------------------*/


/*===============================
========== Default CSS ==========
=================================*/
/* *{
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Roboto', sans-serif;
}
section{
    padding-top: 50px;
    padding-bottom: 50px;
}
span{
    color: #ec4a71;
    }
.w-70{
    width: 70%;
}
.mb-30{
    margin-bottom: 30px;
}
.white{
    color: white;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
h4{
    font-size: 20px;
    line-height: 30px;
    margin-top: 1rem;
}
h3{
    font-size: 24px;
}
h2{
    font-size: 30px;
    line-height: 40px;
}
h1{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
}
p{
    font-size: 16px;
    color: #777777;
    line-height: 22px;
}
.container-fluid{
    padding: 0%;
}
.center-txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.size{
    font-size: 30px;
    margin-bottom: 30px;
}
.p-50{
    padding: 50px 0;
}
.btn-style{
    padding: 12px 30px;
    border: 2px solid #ec4a71;
    border-radius: 30px;
    color: #ec4a71;
    font-weight: 500;
} */
/*===============================
========== Navbar CSS ===========
=================================*/



/*===============================
=== Main Bannner Carousel CSS ===
=================================*/



/*===============================
======= About Section CSS =======
=================================*/



/*===============================
===== Services Section CSS ======
=================================*/


/*===============================
===== Portfolio Section CSS =====
=================================*/


/*===============================
======== Team Section CSS =======
=================================*/


/*===============================
======== Stat Section CSS =======
=================================*/



/*===============================
====== Pricing Section CSS ======
=================================*/




/*===============================
==== Testimonial Section CSS ====
=================================*/




/*===============================
====== Contact Section CSS ======
=================================*/



/*===============================
======= Footer Section CSS ======
=================================*/




/* .nice-select{
float: left;
} */
.em-button-style{
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-radius: 10px 10px 0 0;
    color: #213360;
    background-color: #ffffff;
}
.navbar-top{
    background-color: #283b6a;
}
.list{
    /* z-index: 150; */
    width: 310px;
    padding: 40px !important;
    border-radius: 0 0 6px 6px;
    background-color: #ffffff;
    box-shadow: 0px 5px 83px 0px rgb(9 29 62 / 15%);
}



/* .left_side .links-style i a{
    margin: 10px;
} */



section{
    padding-top: 70px;
    padding-bottom: 70px;
}


*{
    margin: 0%;
    padding: 0%;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}
p{
    font-size: 12px;
    padding: 0;
    margin: 0;
}
.top-header{
    background-color: #283b6a;
}
.top-header-info-text{
    font-size: 13px;
}
.nice-select{
    border-radius: 0;
    line-height: 34px;
    font-weight: 500;
    padding-left: 0px;
    padding-right: 25px;
}
.emergency-btn{
    color: #283b6a;
    background: #fff;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-top: 10px;
}
.emergency-btn p{
    margin: 0;
    padding: 10px 0 10px 10px;
}
.phone_style{
    font-size: 60px;
    line-height: 1;
    color: #21cdc0;
    margin-bottom: 20px;
}
.phone_number{
    margin-bottom: 20px;
    font-size: 22px;
    line-height: 1;
}
.phone_number a{
    color: #3851a2 !important;
    text-decoration: none;
}
.phone_number a:hover{
    color: #21cdc0 !important;
}
.text-style{
    line-height: 1.75;
    margin-bottom: 15px;
}
.btn_secondary-color{
color: #213360;
font-weight: 700;
}
.appointment-btn a:hover{
    color: #21cdc0;
    transition: all ease 1s;
}
.mt-18{
    margin-top: 18px;
}
.mt-20{
    margin-top: 20px;
}
.mt-21{
    margin-top: 21px;
}
.top-header-icons-style{
    color: #21cdc0;
    font-size: 18px;
}


.top-header-contact-info .top-header-location a{
    text-decoration: none;
}



.top-header-social-links a {
    color: #213360;
    background-color: #21cdc0;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 32px;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    margin-right: 10px;
    transition: all 0.4s linear;
}
.top-header-social-links a:hover{
background-color: white;
}
.top-header-searchbar input{
    position: relative;
    height: 30px;
    border: 0;
    border-radius: 0;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid;
    border-color: transparent transparent transparent rgba(255, 255, 255, 0.15);
}
.top-header-search-btn{
    color: #ffffff;
    background: transparent;
    border: none;
}
.form-control{
    font-style: italic !important;
}
.form-control:focus{
    background-color: transparent;
    color: white;
    border: none;
    box-shadow: none;
}
/* .banner-img{
    filter: brightness(30%);
} */
.slide_content{
    position: absolute;
    transform: translateY(-150%);
}
/* .main-banner-text .btn{
    background-color: #ec4a71;
    font-size: 14px;
    margin-top: 20px;
    padding: 10px 30px;
    font-weight: 500;
    left: 0%;
} */
.features-list .feature-item .feature_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    font-size: 40px;
    border-radius: 50%;
    margin-bottom: 10px;
    color: #213360;
    background-color: #ffffff;
    transition: all ease;
}
.slide_title {
    font-size: 75px;
    line-height: 1.1;
    margin-bottom: 25px;
    color: #0e204d;
    font-weight: 700;
}
.slide_desc {
    color: #283b6a;
    font-size: 17px;
    line-height: 1.5;
    font-weight: 700;
    max-width: 650px;
    margin-bottom: 30px;
}



.sticky{
    background: rgba(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.navbar li a{
    padding: 10px 15px;
    font-size: 15px;
}
.nav-link{
    color: #283b6a!important;
}
.sticky .nav-link{
    color: #283b6a!important;
}
.nav-item a:hover{
    color: #21cdc0!important;
}
.nav-link.active{
    color: #21cdc0!important;
}
.btn_wrpper{
    display: inline-block;
}
.btn_primary {
    color: #fff !important;
    background-color: #21cdc0;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    padding: 18px 16px 18px 16px;
    transition: all 0.4s linear;
    position: relative;
    border: none;
    z-index: 10;
}
.btn_primary::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 58px;
    border-radius: 50px;
    opacity: 0;
    background-color: #0e204d;
    transition: all 0.5s ease;
    visibility: hidden;
    z-index: -1;
}
.btn_wrpper:hover .btn_primary::after{
    width: 100%;
    opacity: 1;
    visibility: visible;
}

.btn_primary_2 {
    color: #ffffff;
    background-color: transparent;
    border: 1px white solid;
    border-radius: 50px;
    font-size: 12px;
    padding: 10px;
    transition: all 0.4s linear;

}
.btn_primary_2:hover {
    color: #213360;
    background-color: white;
}

.contact-info {
    position: relative;
    z-index: 3;
    margin-top: -100px;
    color: white;
}
.contact-box{
    align-items: center;
    flex-direction: column;
}
.contact_title{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
}
.contact-content-btn{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.contact-info .contact-box-1 {
    background-color: #21cdc0;
    height: 100%;
    padding: 45px; 
    border-radius: 10px 0 0 10px;
}
/* .contact-info .contact-box-1 .phone_number-2 .icon-phone {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-right: 10px;
    background-color: #1ebaae;
} */
.contact-info .contact-box-2 {
    background-color: #3851a2;
    height: 100%;
    padding: 45px;
}
.contact-info .contact-box-3 {
    background-color: #153992;
    height: 100%;
    padding: 45px;
    border-radius: 0px 10px 10px 0;
}
.phone_number-2{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.phone_number-2 a{
    text-decoration: none;
    color: white;
}
.contact-info .contact_icon {
    font-size: 50px;
    flex: 0 0 80px;
}
.contact-info .contact_content .contact_title {
    font-size: 19px;
}
.contact-info .contact_content .contact_desc {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 10px;
}



.time_list li {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dcdee2;
}
.time_list_2 li {
    font-size: 14px;
    display: flex;
}
.time_list_3 li {
    font-size: 14px;
    display: flex;
    justify-content: space-between;

}


.footer-top{
    background-color: #1d2a4d;
    color: white;
    padding: 62px 0 0;
}
.style-line {
    border-top: 3px solid #21cdc0;
    width: 100px;
    margin: 0 auto;
    margin-top: 15px;
}





.newsteller{
    background-color: #204066;
    padding: 20px 15px;
    margin-top: 40px;

}
.newsteller-text{
    font-size: 18px;
}

.newsteller-inputbox {
    display: flex;
}

.newsteller-inputbox input[type="email"] {
    padding: 12px 24px; 
    border: none;
    padding-right: 150px;
    height: 45px;
    border: 1px solid transparent;
    border-radius: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}
.newsteller-inputbox input[type="email"]:focus {
    border: none;
    border: 1px solid transparent;
}
.newsteller-inputbox button[type="submit"] {
    background-color: #12b48b;
    color:white;
    border: none;
    position: absolute;
    right: 12px;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 17px 7px;
    height: 45px;
    border-radius: 0 2em 2em 0;
    transition: all 0.35s ease;
}
.newsteller-inputbox button[type="submit"]:hover {
    border: 1px solid #fff;
    color: #fff;
    background-color: #204066;
}


  /* ==========================
      Service Section
  ============================*/
.service-section{
    background-color: #21cdc0;
}
.service-text{
    color: rgba(255,255,255,.75)!important;
}
.service-text p{
    font-size: 14px;
    line-height: 1.8;
}
.btn_services{
    font-size: 15px;
    font-weight: 700;
    padding: 18px 30px 18px 30px;
    transition: all 0.4s linear;
    position: relative;
    border: none;
    z-index: 10;
    color: #ffffff;
    background-color: transparent;
    border: 1px white solid;
    border-radius: 50px;
}
.btn_services:hover {
    color: #213360;
    background-color: white;
}
.services-icon-box {
    border: 1px solid #ffffff;
    padding: 40px 35px 30px 30px;
    position: relative;
    overflow: hidden;
    transition: all 1s ease;
}
.style1{
    border-radius: 10px 0 0 10px;
}
.style4{
    border-radius: 0px 10px 10px 0px;
}

@media only screen and (max-width:992px){
    .style1{
        border-radius: 10px 0 0 0px;
       }
       .style2{
        border-radius: 0px 10px 0 0px;
       }
       .style3{
        border-radius: 0px 0 0 10px;
       }
       .style4{
        border-radius: 0px 0 10px 0px;
       }
 }
@media only screen and (max-width:767px){
   .style1{
    border-radius: 10px 0 0 0px;
   }
   .style2{
    border-radius: 0px 10px 0 0px;
   }
   .style3{
    border-radius: 0px 0 0 10px;
   }
   .style4{
    border-radius: 0px 0 10px 0px;
   }
}
@media only screen and (max-width:576px){
    .style1{
     border-radius: 10px 10px 0 0px;
    }
    .style2{
     border-radius: 0px 0px 0 0px;
    }
    .style3{
     border-radius: 0px 0 0 0px;
    }
    .style4{
     border-radius: 0px 0 10px 10px;
    }
 }
.services-icon-box:hover{
    background-color: white;
    /* border: 1px solid #213360; */
}
.services-icon-box:hover .services-content .text-white h5 {
    color: #213360!important;
}
.services-icon-box:hover .services-content .service-text p {
    color: #213360!important;
}
.services-icon-box:hover .service-icon{
    color: #21cdc0 !important;
}
.services-icon-box a{
    transition: all 1s ease;
}
.services-icon-box:hover a{
    color: #213360!important;
    letter-spacing: 1px;
}
.service-icon{
    font-size: 60px;
    color: #213360;
}
.service-a{
    font-size: 12px;
    font-weight: 600;
}
  
/*===============================
===== Portfolio Section CSS =====
=================================*/
.filter-button{
    font-size: 15px;
    text-align: center;
    color: #fff;
    margin-bottom: 12px;   
}
.filter-button:focus{
outline: none!important;
box-shadow: none;
}
.filter-button.active,.filter-button:hover{
    color: #21cdc0 ;
}
.btn-default:active .filter-button:active{
    color: #21cdc0 ;
}
.center-txt {
    position: absolute;
    width: 100%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.portfolio-overlay{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-image: -webkit-linear-gradient(90deg,rgba( 18,180,139)0%,rgba(0,0,0,.5) 70%);
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.portfolio-overlay .center-txt h6{
    cursor: pointer;
    transition: all 0.5s ease;
}
.portfolio-overlay .center-txt p{
    cursor: pointer;
}
.portfolio-overlay .center-txt h6:hover{
color: #21cdc0;
}
.portfolio-overlay:hover{
    opacity: 1;
}
@media only screen and (max-width:1200px){
    
 }




/* ==========================
      Porfolio/Research Section
============================*/
.research{
    background-color: #1d2a4d;
}
.research-title{
    font-weight: 600;
    font-size: 35px;
    color: #21cdc0;
    line-height: 50px;
}
/* .research .gallery_product .img:hover{
transform: scale(1,1);
} */
.img{
    transition: all 0.5s ease;  
}
.img:hover{
    transform: scale(1.1,1.1);
}
.btn_wrapper{
    position: relative;

}
.btn_wrapper::after{
    position: absolute;
    content:"";
    top: 40%;
    left: -5px;
    height: 8px;
    width: 8px;
    background-color: #21cdc0;
    border-radius: 50px;
}
.filter-button::after{
    position: absolute;
    content: "";
    bottom: 0;
    left: 10px;
    height: 3px;
    background-color: #21cdc0;
    width: 0%;
    border-radius: 50px;
    opacity: 0;
    transition: all 0.5s ease;
}

.btn_wrapper:hover .filter-button::after{
    opacity: 1;
    width: 45%;
}
@media only screen and (max-width:992px){
    .portfolio-menu{
        display: flex;
        justify-content: center;
    }
    .btn_wrapper::after {
        display: none;
    }
    .filter-button::after{
        bottom: 13px;
        left: 10px;       
    }
    .btn_wrapper:hover .filter-button::after{
        opacity: 1;
        width: 80%;
    }
}
@media only screen and (max-width:576px){
    .btn_wrapper{
        margin: -8px;
    }
    .btn-wrapper-3{
        display: none;
    }
    .filter-button {
        font-size: 12px;
    }
 }
 @media only screen and (max-width:392px){
    .filter-button {
        font-size: 10px;
    }
 }


/* ==========================
      Team Section
============================*/
.team-section{
    background-color: #21cdc0;
}
.item .team-img{
    overflow: hidden;
    border-radius: 10px !important;
}
.item .member__info {
    padding: 15px 15px;
    background-color: white;
    border-radius: 0 0 10px 10px;
    margin-top: -15px;
  }
  .item .member__info a {
text-decoration: none;    
  }  
  .item .member__info .member__name {
    font-size: 21px;
    margin: 11px 0;
  }
  .item .member__info .member__name a {
    color: #0e204d;
  }
  
  .item .member__info .member__job {
    color: #21cdc0;
    margin-bottom: 10px;
  }
  .item .member__info .member__desc {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .team-section .item:hover{
    box-shadow: 0px 5px 83px 0px rgba(9, 29, 62, 0.15);
  }
  .item .social-icons li {
    opacity: 1;
    transition: all 0.4s ease-in-out;
  }
  .item .social-icons li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #ffffff;
  }
  .item .social-icons li a:hover {
    color: #ffffff!important;
    background-color: #21cdc0 !important ;
  }
  .item .social-icons li a.facebook {
    margin: 5px;
    color: #ffffff;
    background-color: #21cdc0;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 32px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    transition: all 0.4s linear;
  }
  .item .social-icons li a.twitter {
    margin: 5px;
    color: #ffffff;
    background-color: #21cdc0;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 32px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    transition: all 0.4s linear;
  }
  .item .social-icons li a.phone {
    margin: 5px;
    color: #ffffff;
    background-color: #21cdc0;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 32px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
    transition: all 0.4s linear;
  }
  
  /* .item .social-icons li a:hover {
    background-color: #0e204d;
  } */
  .item .btn__link.btn__secondary {
    padding: 12px 0;
    opacity: 1;
    transition: all 0.3s linear;
    font-size: 15px;
    color: #ffffff;
    opacity: 1;
    border-radius: 50px;
    padding: 8px;
    /* margin-top: 8px; */
    background-color: #21cdc0;
    /* margin-top: 5px; */
  }
  .item .btn__link.btn__secondary:hover {
    color: #ffffff !important;
    background-color: #21cdc0 !important;
  }
  .item .btn__link.btn__secondary .team-arrow  {
    font-size: 12px;
    font-weight: normal;
  }  
  .team-section-box:hover .btn__link.btn__secondary, .team-section-box:hover .social-icons li a {
    color: #ffffff;
    background-color: #0e204d ;
  }
  .team-section-box:hover .member__info .member__name a {
    color: #21cdc0;
  }
  .team-section-box:hover .member__info .member__job {
    color: #0e204d;
    font-weight: 600;

  }
  
.team-section-box{
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
}
.rounded{
    transition: all 0.5s ease;
}
  .team-section-box:hover .rounded{
    transform: scale(1.1) rotate(1deg);
}


/*===============================
======== Department Section CSS =======
=================================*/
.department-section{
    background-color: #1d2a4d;
}
.service-item {
    box-shadow: 0 0 4px 0 #ccc;
    border-radius: 10px;
    padding: 50px 20px;
    margin-bottom: 30px;
    /* background-color: #fff; */
    transition: all 0.4s linear;
    color: white;
}
.service-item:hover{
    background-color: white;
    color: #1d2a4d;
transform: scale(1.05);
}
.service-item .d-flex .neu {
    color: #21cdc0!important;
    font-size: 40px;
    padding: 0 0 5px;
}
.service-item .btn__link.btn__secondary {
    padding: 12px 0;
    transition: all 0.3s linear;
    font-size: 15px;
    color: #ffffff !important;
    border-radius: 50px;
    padding: 8px;
    border: 1px solid white;
    /* background-color: #21cdc0 !important; */
  }
  .service-item .btn__link.btn__secondary .team-arrow  {
    font-size: 12px;
    font-weight: normal;
  }  
  .service-item:hover .btn__link.btn__secondary {
    color: #ffffff !important;
    background-color: #21cdc0 !important;
  }
  
/*===============================
======== Blog Section CSS =======
=================================*/
  .blog-section{
    background-color: #21cdc0;
}

  
.post-item:hover {
    box-shadow: 0px 5px 83px 0px rgba(9, 29, 62, 0.15);
 }

 .post-item:hover .post__img img {
   transform: scale(1.1) rotate(1deg);
 }

.post-item {
    background-color: white;
    position: relative;
    border-radius: 10px;
    margin-bottom: 30px;
    transition: all 0.3s linear;
  }
  
  .post-item .post__img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  .post-item .post__img img {
    transition: all 0.5s ease;
  }

  .post-item .post__body {
    position: relative;
    z-index: 3;
    padding: 0 30px 30px 37px;
    margin-top: -15px;
  }
  
  .post-item .post__meta-cat {
    padding: 4px 13px;
    display: inline-block;
    border-radius: 0 10px 0px 10px;
    background-color: #21cdc0 !important;
    margin-bottom: 15px;
    transition: all 0.5s linear;
  }
  .post-item .post__meta-cat a {
    position: relative;
    color: #ffffff;
    padding-right: 7px;
    font-size: 13px;
    transition: all 0.3s ease;
  }
  .post-item .post__meta-cat:hover {
    background-color: #283b6a !important;
  } 
  .post-item .post__meta-cat a:hover {
    color: #21cdc0;
  } 
  .post-item .post__meta-cat a:after {
    content: ",";
    position: absolute;
    top: -1px;
    right: 1px;
    color: #ffffff;
  } 
  .post-item .post__meta-cat a:last-child {
    padding-right: 0;
  }
  .post-item .post__meta-cat a:last-child:after {
    display: none;
  }
  

  .post-item .post__meta {
    margin-bottom: 14px;
  }
  .post-item .post__meta > * {
    position: relative;
    font-size: 13px;
    color: #435ba1;
    line-height: 1;
    margin-right: 15px;
    padding-right: 15px;
  }
  .post-item .post__meta > *:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background-color: #dedfe3;
  }
  .post-item .post__meta > *:last-child {
    padding-right: 0;
    margin-right: 0;
  }
  .post-item .post__meta > *:last-child:after {
    display: none;
  }

  .post-item .post__title {
    font-size: 20px;
    margin-bottom: 28px;
  }
  .post-item .post__title a {
    color: #0e204d;
    transition: all 0.5s ease;
  }
  .post-item .post__title a:hover {
    color: #21cdc0;
  }
  
  .post-item .btn__link.btn__secondary {
    transition: all 0.4s linear;
    font-size: 15px;
    color: #ffffff;
    border-radius: 50px;
    padding: 8px;
    margin-top: 20px;
    background-color: #21cdc0;
  }
  .post-item .btn__link.btn__secondary:hover {
    color: #ffffff !important;
    background-color: #21cdc0 !important;
  }

  .post-item:hover .btn__link.btn__secondary {
    color: #ffffff;
    background-color: #213360;
  }
  
/*===============================
======== Client Section CSS =======
=================================*/
  /* .client-section{
    background-color: #1d2a4d;
} */
#client{
    background-image: url(../images/client-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed;
    color: white;
}
.testi-overlay::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(29 42 77 / 75%);
}
.testi-img{
    width: 100px !important;
    margin: 0 auto;
}    
.testi-box{
    padding: 50px 30px 30px;
    background-color: #21cdc0;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
.testi-box p{
    font-size: 14px;
}
.testi-box .client-h6{
    color: #213360;
}
.testi-box .client-p{
    font-size: 12px;
}
.testi-qoute{
    font-size: 20px;
}

/*===============================
======== Stat Section CSS =======
=================================*/
#stat{
    background-image: url(../images/slider-2.jpg);
    height: 50%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-attachment: fixed;

}
.stat-overlay{
    overflow: hidden;
}
.stat-overlay::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: rgb(29 42 77 / 70%);
    opacity: 1;
    width: 100%;
    height: 100%;
} 
#stat  h2{
    font-size: 30px!important;
    margin-bottom: 10px;
}
#stat  h4{
    font-size: 18px!important;
    margin-bottom: 5px;
}




/* ==========================
    PARTNET START
============================*/
.partner-section {
    padding: 90px 0px 85px 0px;
    position: relative;
  }
  
  .partner-section img {
    height: auto;
    display: block;
  }
  .partner-section .partner-logo .item{
      position: relative;
  }
  .partner-section .partner-logo .partner-right-line::after {
    border-right: 2px solid rgb(32 64 102 / 50%);
    border-radius: 49%;
    content: "";
    top: 0;
    height: 100%;
    position: absolute;
    right: -15px;
}
  @media (max-width: 767px) {
    .icon-box-item {
      margin-top: 50px;
    }
  }
  











.copyright {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 14px;
    text-transform: capitalize;
}
.footer-bottom .copyright a{
    color: #fff;
}
.footer-bottom .copyright a:hover{
    color: #21cdc0;
}


.section-title h5 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 1.5px;
    color: #9dabaf;
    margin-top: 5px;
    margin-bottom: 5px;
}
.section-title h2.title {
    font-weight: 600;
    font-size: 35px;
    color: #0e204d;
    line-height: 50px;
}
/* h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    font-weight: 600;
    color: #0e204d;
} */
.intro-feature-text{
    margin-bottom: 15px;
    font-weight: 600;
    color: #0e204d;
}
.intro-arrow-style{
    color: #21cdc0;
}
.intro-list-text{
    font-size: 12px;
    line-height: 27px;
    margin-bottom: 30px;
}
.btn-intro-list {
    color: #ffffff;
    background-color: #21cdc0;
    border-radius: 50px;
    font-size: 15px;
    font-weight: 700;
    padding: 15px 50px;
    transition: all 0.4s linear;

}
.btn-intro-list:hover {
    color: #ffffff;
    background-color: #213360;
}





/* NEW CODE */
.main-banner-img1{
    background-image: url(../images/slider-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}
.main-banner-img2{
    background-image: url(../images/slider-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}
.main-banner-txt{
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    width: 100%;
}
.main-textbox{
    width: 60%;
}
.main-banner-txt h2{
    color: #0e204d;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 25px;
}
.main-banner-txt p{
    color: #283b6a;
    font-size: 15px;
    margin-bottom: 30px;
    font-weight: bold;
    line-height: 2;
}



/* ===============================================
    GoTop BUtton
------------------------*/
.totop {
    background-color: #21cdc0;
    color: #fff;
    font-weight: 900;
    font-size: 15px;
    padding: 4px 11px;
    transition: 0.5s;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 99;
}
  .totop:hover{
    color: #fff;
    background-color:  #204066;
  }